@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

/* Variables  */
:root {
  /* Colors  */
  --gradient: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  --green: #30c88f;
  --gray: #9597a5;
  --dark: #2d314d;

  /* Font */
  --font: "Public Sans", sans-serif;
}

/* Simple reset  */
body {
  font-family: var(--font);
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Components  */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px;
}

.app__btn--toggle {
  cursor: pointer;
}

.app__logo {
  width: 139px;
  height: 20px;
}

/* Header styles  */
.app__header .app__btn {
  display: none;
}

.app__navigation--main {
  display: none;
}
