.app {
  &__header {
    background-color: #fff;

    & .app__btn--cta {
      display: none;
    }

    & > .container {
      position: relative;
      background-color: #fff;
      z-index: 3;
      padding: 22px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__navigation {
    &--main {
      position: absolute;
      top: 60px;
      width: 100%;
      height: 265px;
      background-color: #fff;
      border-radius: 4px;
    }

    &--open {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.138462px;
      color: var(--dark);
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    }

    &--close {
      display: none;
    }
  }
}
