.app {
  &__header {
    & .app__btn--cta {
      display: none;
    }

    & > .container {
      margin: 22px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__navigation {
    &--main {
    }

    &--open {
      display: block;
    }

    &--close {
      display: none;
    }
  }
}
