.app {
  &__main {
    position: relative;

    & > .container {
      margin: 0 24px;
    }
  }

  &__hero {
    text-align: center;
    margin-bottom: 88px;

    & > .container {
      margin: 0 24px;
    }

    &-title {
      margin: 0;
      margin-bottom: 16px;
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      letter-spacing: -0.714286px;
      color: var(--dark);
    }

    &-description {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: -0.234375px;
      color: #9597a5;
      margin-bottom: 32px;
    }
  }

  &__services {
    & > .container {
      margin: 0 24px;
    }
    background-color: #f4f5f7;
    text-align: center;

    &-info {
      padding-top: 64px;
      padding-bottom: 56px;
    }

    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: -0.234375px;
      color: #9597a5;
    }

    & h3 {
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.571429px;
      color: #2d314d;
    }

    & h4 {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.357143px;
      color: #2d314d;
    }
  }

  &__service {
    padding-bottom: 32px;
  }

  &__articles {
    background-color: #f4f5f7;
    padding-bottom: 88px;

    & > .container {
      margin: 0 24px;
    }

    &-heading {
      padding-top: 88px;
      padding-bottom: 32px;
      text-align: center;
      margin: 0;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.571429px;
      color: #2d314d;
    }
  }

  &__article {
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      width: 100%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &-author {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: -0.15625px;
      color: #9597a5;
    }

    &-title {
      margin: 0;
      margin-top: 8px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.285714px;
      color: #2d314d;
    }

    &-content {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.203125px;
      color: #9597a5;
    }

    &-container {
      padding: 31px 24px;
    }
  }
}

.intro-img {
  z-index: 1;
  width: 100%;
  height: 330px;
}

.mockups-img {
  position: absolute;
  left: 50%;
  top: -120px;
  z-index: 2;
  width: 327px;
  height: 402px;
  transform: translateX(-50%);
  image-rendering: pixelated;
}

@media (min-width: 1024px) {
  .app {
    &__main {
      width: 100%;
      overflow-x: hidden;
    }

    &__hero {
      & > .container {
        width: 447px;
        height: 316px;
        text-align: left;
        margin: 170px 165px 0;
      }

      &-title {
        text-align: left;
      }
    }

    &__services {
      position: relative;
      z-index: 1;

      & > .container {
        margin: 0 165px;
      }

      &-info {
        width: 635px;
        text-align: left;
      }

      &-container {
        display: flex;
        justify-content: space-between;
      }
    }

    &__service {
      max-width: 255px;
      text-align: left;

      & h4 {
        text-align: left;
      }
    }

    &__articles {
      & > .container {
        margin: 0 165px;
      }

      &-heading {
        text-align: left;
      }

      &-container {
        display: flex;
        justify-content: space-between;
      }
    }

    &__article {
      max-width: 255px;
      margin-bottom: 0;

      &-img {
        height: 200px;
      }
    }
  }

  .intro-img {
    position: absolute;
    width: 1233px;
    height: 956px;
    top: -275px;
    right: -420px;
    z-index: 0;
  }

  .mockups-img {
    transform: initial;
    left: initial;
    top: -120px;
    right: -130px;
    width: 732px;
    height: 901px;
  }
}
