.app {
  &__main {
    position: relative;

    & > .container {
      margin: 0 24px;
    }
  }

  &__hero {
    text-align: center;
    margin-bottom: 88px;

    &-title {
      margin: 0;
      margin-bottom: 16px;
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      letter-spacing: -0.714286px;
      color: var(--dark);
    }

    &-description {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: -0.234375px;
      color: #9597a5;
      margin-bottom: 32px;
    }
  }
}

.intro-img {
  z-index: 1;
  width: 100%;
  height: 330px;
}

.mockups-img {
  position: absolute;
  left: 50%;
  top: -120px;
  z-index: 2;
  width: 327px;
  height: 402px;
  transform: translateX(-50%);
  image-rendering: pixelated;
}
